-- MySQL dump 10.13  Distrib 8.4.5, for Linux (x86_64)
--
-- Host: localhost    Database: Tienda
-- ------------------------------------------------------
-- Server version	8.4.5

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Alertas_Stock`
--

DROP TABLE IF EXISTS `Alertas_Stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Alertas_Stock` (
  `alerta_stock_id` int unsigned NOT NULL AUTO_INCREMENT,
  `prod_id` varchar(12) NOT NULL,
  `config_alerta_id_origen` int unsigned DEFAULT NULL,
  `stock_capturado` int NOT NULL,
  `umbral_evaluado` int NOT NULL,
  `alerta_tipo_generada` varchar(50) NOT NULL,
  `alerta_nivel_generado` enum('INFO','ADVERTENCIA','CRITICO') NOT NULL,
  `mensaje_automatico` text NOT NULL,
  `fecha_generacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado_alerta` enum('Activa','En Revision','Resuelta','Ignorada') DEFAULT 'Activa',
  `fecha_resolucion` timestamp NULL DEFAULT NULL,
  `comentario_resolucion` text,
  `resuelta_por_usr_id` varchar(12) DEFAULT NULL,
  `creada_por_proceso` varchar(50) DEFAULT 'TRIGGER_STOCK',
  PRIMARY KEY (`alerta_stock_id`),
  KEY `config_alerta_id_origen` (`config_alerta_id_origen`),
  KEY `resuelta_por_usr_id` (`resuelta_por_usr_id`),
  KEY `idx_alertas_producto_estado` (`prod_id`,`estado_alerta`),
  CONSTRAINT `Alertas_Stock_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `Productos` (`pro_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Alertas_Stock_ibfk_2` FOREIGN KEY (`config_alerta_id_origen`) REFERENCES `Configuracion_Alertas` (`config_alerta_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Alertas_Stock_ibfk_3` FOREIGN KEY (`resuelta_por_usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Alertas_Stock`
--

LOCK TABLES `Alertas_Stock` WRITE;
/*!40000 ALTER TABLE `Alertas_Stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `Alertas_Stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Boleta_Metodo_Pago`
--

DROP TABLE IF EXISTS `Boleta_Metodo_Pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Boleta_Metodo_Pago` (
  `id` int NOT NULL AUTO_INCREMENT,
  `boleta_id` varchar(255) DEFAULT NULL,
  `met_id` varchar(10) DEFAULT NULL,
  `monto` decimal(10,2) DEFAULT NULL,
  `referencia` varchar(50) DEFAULT NULL,
  `fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `met_id` (`met_id`),
  KEY `fk_boleta_metodo_pago_boleta` (`boleta_id`),
  CONSTRAINT `Boleta_Metodo_Pago_ibfk_2` FOREIGN KEY (`met_id`) REFERENCES `Metodos_Pago` (`met_id`),
  CONSTRAINT `fk_boleta_metodo_pago_boleta` FOREIGN KEY (`boleta_id`) REFERENCES `Boletas` (`boleta_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Boleta_Metodo_Pago`
--

LOCK TABLES `Boleta_Metodo_Pago` WRITE;
/*!40000 ALTER TABLE `Boleta_Metodo_Pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `Boleta_Metodo_Pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Boletas`
--

DROP TABLE IF EXISTS `Boletas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Boletas` (
  `boleta_id` varchar(255) NOT NULL,
  `boleta_numero` varchar(20) NOT NULL,
  `boleta_fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `boleta_subtotal` decimal(10,2) NOT NULL,
  `boleta_impuestos` decimal(10,2) DEFAULT '0.00',
  `boleta_descuento` decimal(10,2) DEFAULT '0.00',
  `boleta_total` decimal(10,2) NOT NULL,
  `boleta_estado` varchar(20) DEFAULT 'Pendiente',
  `boleta_notas` text,
  `payment_id` varchar(255) DEFAULT NULL,
  `ped_id` varchar(15) NOT NULL,
  PRIMARY KEY (`boleta_id`),
  UNIQUE KEY `boleta_numero` (`boleta_numero`),
  KEY `ped_id` (`ped_id`),
  CONSTRAINT `Boletas_ibfk_1` FOREIGN KEY (`ped_id`) REFERENCES `Pedidos` (`ped_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Boletas`
--

LOCK TABLES `Boletas` WRITE;
/*!40000 ALTER TABLE `Boletas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Boletas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Categorias`
--

DROP TABLE IF EXISTS `Categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Categorias` (
  `cat_id` varchar(12) NOT NULL,
  `cat_nombre` varchar(50) NOT NULL,
  `cat_descripcion` text,
  `cat_imagen` varchar(255) DEFAULT NULL,
  `cat_color` varchar(50) DEFAULT NULL,
  `cat_estado` varchar(20) DEFAULT 'Activo',
  `cat_orden` int DEFAULT '0',
  `cat_creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `cat_actualizado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`cat_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Categorias`
--

LOCK TABLES `Categorias` WRITE;
/*!40000 ALTER TABLE `Categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `Categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Categorias_Clientes`
--

DROP TABLE IF EXISTS `Categorias_Clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Categorias_Clientes` (
  `cli_cat_id` varchar(12) NOT NULL,
  `cli_cat_nombre` varchar(50) NOT NULL,
  `cli_cat_descripcion` text,
  `cli_cat_estado` varchar(20) DEFAULT 'Activo',
  `cli_color` text,
  PRIMARY KEY (`cli_cat_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Categorias_Clientes`
--

LOCK TABLES `Categorias_Clientes` WRITE;
/*!40000 ALTER TABLE `Categorias_Clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Categorias_Clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Categorias_Proveedores`
--

DROP TABLE IF EXISTS `Categorias_Proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Categorias_Proveedores` (
  `prov_cat_id` varchar(12) NOT NULL,
  `prov_cat_nombre` varchar(50) NOT NULL,
  `prov_cat_descripcion` text,
  `prov_cat_estado` varchar(20) DEFAULT 'Activo',
  `prov_cat_color` text,
  PRIMARY KEY (`prov_cat_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Categorias_Proveedores`
--

LOCK TABLES `Categorias_Proveedores` WRITE;
/*!40000 ALTER TABLE `Categorias_Proveedores` DISABLE KEYS */;
INSERT INTO `Categorias_Proveedores` VALUES ('PROVCAT-001','Oficina','zxb','Activo','bg-teal-100 text-teal-800 border-teal-400'),('PROVCAT-002','Productos','dfjjdfdfjjdf','Activo','bg-yellow-100 text-yellow-800 border-yellow-400'),('PROVCAT-003','twewet','twewetetwetwwet','Activo','bg-red-100 text-red-800 border-red-400'),('PROVCAT-004','rqwgsgaasgasgasg','et','Activo','bg-green-100 text-green-800 border-green-400');
/*!40000 ALTER TABLE `Categorias_Proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Cliente_Categoria`
--

DROP TABLE IF EXISTS `Cliente_Categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Cliente_Categoria` (
  `cli_cat_asoc_id` varchar(15) NOT NULL,
  `cli_id` varchar(12) NOT NULL,
  `cli_cat_id` varchar(12) NOT NULL,
  `fecha_asociacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`cli_cat_asoc_id`),
  UNIQUE KEY `cli_id` (`cli_id`,`cli_cat_id`),
  KEY `cli_cat_id` (`cli_cat_id`),
  CONSTRAINT `Cliente_Categoria_ibfk_1` FOREIGN KEY (`cli_id`) REFERENCES `Clientes` (`cli_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Cliente_Categoria_ibfk_2` FOREIGN KEY (`cli_cat_id`) REFERENCES `Categorias_Clientes` (`cli_cat_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Cliente_Categoria`
--

LOCK TABLES `Cliente_Categoria` WRITE;
/*!40000 ALTER TABLE `Cliente_Categoria` DISABLE KEYS */;
INSERT INTO `Cliente_Categoria` VALUES ('CLICASOC-001','CLI-001','CLICAT-004','2025-06-03 17:53:46'),('CLICASOC-002','CLI-002','CLICAT-003','2025-06-03 18:04:38'),('CLICASOC-003','CLI-003','CLICAT-004','2025-06-04 04:14:34'),('CLICASOC-004','CLI-004','CLICAT-004','2025-06-19 22:16:59'),('CLICASOC-005','CLI-005','CLICAT-006','2025-06-19 22:17:53');
/*!40000 ALTER TABLE `Cliente_Categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Clientes`
--

DROP TABLE IF EXISTS `Clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Clientes` (
  `cli_id` varchar(12) NOT NULL,
  `cli_nombre` varchar(50) NOT NULL,
  `cli_apellido` varchar(50) NOT NULL,
  `cli_email` varchar(100) DEFAULT NULL,
  `cli_telefono` varchar(20) DEFAULT NULL,
  `cli_direccion` text,
  `cli_genero` varchar(10) DEFAULT NULL,
  `cli_fecha_nacimiento` date DEFAULT NULL,
  `cli_tipo` varchar(20) DEFAULT 'Regular',
  `cli_estado` varchar(20) DEFAULT 'Activo',
  `cli_fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `cli_rfc` varchar(20) DEFAULT NULL,
  `cli_notas` text,
  `cli_tipo_doc` varchar(2) DEFAULT '1',
  `cli_numero_doc` varchar(20) DEFAULT '74582154',
  PRIMARY KEY (`cli_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Clientes`
--

LOCK TABLES `Clientes` WRITE;
/*!40000 ALTER TABLE `Clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `Clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Configuracion_Alertas`
--

DROP TABLE IF EXISTS `Configuracion_Alertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Configuracion_Alertas` (
  `config_alerta_id` int unsigned NOT NULL AUTO_INCREMENT,
  `config_nombre` varchar(150) NOT NULL,
  `config_tipo` enum('STOCK_LLEGA_A_VALOR','STOCK_DEBAJO_DE_UMBRAL') NOT NULL,
  `config_umbral_valor` int NOT NULL,
  `config_aplicabilidad` enum('GENERAL','POR_CATEGORIA','POR_PRODUCTO_ESPECIFICO') NOT NULL DEFAULT 'GENERAL',
  `id_referencia_aplicabilidad` varchar(12) DEFAULT NULL,
  `config_descripcion` text,
  `config_nivel_alerta_default` enum('INFO','ADVERTENCIA','CRITICO') NOT NULL DEFAULT 'ADVERTENCIA',
  `config_estado` enum('Activa','Inactiva') DEFAULT 'Activa',
  `config_creado_por_usr_id` varchar(12) NOT NULL,
  `config_creado_en` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `config_actualizado_en` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`config_alerta_id`),
  UNIQUE KEY `config_nombre` (`config_nombre`),
  KEY `config_creado_por_usr_id` (`config_creado_por_usr_id`),
  CONSTRAINT `Configuracion_Alertas_ibfk_1` FOREIGN KEY (`config_creado_por_usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_id_referencia_aplicabilidad` CHECK ((((`config_aplicabilidad` = _utf8mb4'GENERAL') and (`id_referencia_aplicabilidad` is null)) or ((`config_aplicabilidad` in (_utf8mb4'POR_CATEGORIA',_utf8mb4'POR_PRODUCTO_ESPECIFICO')) and (`id_referencia_aplicabilidad` is not null))))
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Configuracion_Alertas`
--

LOCK TABLES `Configuracion_Alertas` WRITE;
/*!40000 ALTER TABLE `Configuracion_Alertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Configuracion_Alertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Factura_Metodo_Pago`
--

DROP TABLE IF EXISTS `Factura_Metodo_Pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Factura_Metodo_Pago` (
  `id` int NOT NULL AUTO_INCREMENT,
  `factura_id` varchar(15) DEFAULT NULL,
  `met_id` varchar(10) DEFAULT NULL,
  `monto` decimal(10,2) DEFAULT NULL,
  `referencia` varchar(50) DEFAULT NULL,
  `fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `factura_id` (`factura_id`),
  KEY `met_id` (`met_id`),
  CONSTRAINT `Factura_Metodo_Pago_ibfk_1` FOREIGN KEY (`factura_id`) REFERENCES `Facturas` (`factura_id`),
  CONSTRAINT `Factura_Metodo_Pago_ibfk_2` FOREIGN KEY (`met_id`) REFERENCES `Metodos_Pago` (`met_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Factura_Metodo_Pago`
--

LOCK TABLES `Factura_Metodo_Pago` WRITE;
/*!40000 ALTER TABLE `Factura_Metodo_Pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `Factura_Metodo_Pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Facturas`
--

DROP TABLE IF EXISTS `Facturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Facturas` (
  `factura_id` varchar(15) NOT NULL,
  `factura_numero` varchar(20) NOT NULL,
  `factura_fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `factura_subtotal` decimal(10,2) NOT NULL,
  `factura_impuestos` decimal(10,2) DEFAULT '0.00',
  `factura_descuento` decimal(10,2) DEFAULT '0.00',
  `factura_total` decimal(10,2) NOT NULL,
  `factura_estado` varchar(20) DEFAULT 'Pendiente',
  `factura_notas` text,
  `ped_id` varchar(15) NOT NULL,
  PRIMARY KEY (`factura_id`),
  UNIQUE KEY `factura_numero` (`factura_numero`),
  KEY `ped_id` (`ped_id`),
  CONSTRAINT `Facturas_ibfk_1` FOREIGN KEY (`ped_id`) REFERENCES `Pedidos` (`ped_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Facturas`
--

LOCK TABLES `Facturas` WRITE;
/*!40000 ALTER TABLE `Facturas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Facturas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Metodos_Pago`
--

DROP TABLE IF EXISTS `Metodos_Pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Metodos_Pago` (
  `met_id` varchar(10) NOT NULL,
  `met_nombre` varchar(50) NOT NULL,
  `met_descripcion` text,
  `met_estado` varchar(20) DEFAULT 'Activo',
  `met_tipo` varchar(20) DEFAULT NULL,
  `met_banco` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`met_id`),
  UNIQUE KEY `met_nombre` (`met_nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Metodos_Pago`
--

LOCK TABLES `Metodos_Pago` WRITE;
/*!40000 ALTER TABLE `Metodos_Pago` DISABLE KEYS */;
INSERT INTO `Metodos_Pago` VALUES ('MET-001','Yape','Pago por Yape','Activo','Transferencia','BCP'),('MET-002','PLIN','Pago por Plin','Activo','Transferencia','BBVA'),('MET-003','Visa','Pago con visa','Activo','Tarjeta','CUALQUIERA'),('MET-004','MASTERCARD','Pagos con Mastercard','Activo','Tarjeta','CUALQUIERA'),('MET-005','PAYPAL','Pago por Paypal','Activo','Monedero Digital','CUALQUIERA'),('MET-006','Contado','Pago con billetes o monedas','Activo','Manual','CUALQUIERA'),('MET-007','MercadoPago','Pagos de prueba','Activo','Digital','CUALQUIERA');
/*!40000 ALTER TABLE `Metodos_Pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Movimiento_Producto`
--

DROP TABLE IF EXISTS `Movimiento_Producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Movimiento_Producto` (
  `mov_id` varchar(15) NOT NULL,
  `prod_id` varchar(12) NOT NULL,
  `movprod_cantidad` int NOT NULL,
  `movprod_costo_unitario` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`mov_id`,`prod_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `Movimiento_Producto_ibfk_1` FOREIGN KEY (`mov_id`) REFERENCES `Movimientos_Inventario` (`mov_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Movimiento_Producto_ibfk_2` FOREIGN KEY (`prod_id`) REFERENCES `Productos` (`pro_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Movimiento_Producto`
--

LOCK TABLES `Movimiento_Producto` WRITE;
/*!40000 ALTER TABLE `Movimiento_Producto` DISABLE KEYS */;
INSERT INTO `Movimiento_Producto` VALUES ('MOV-0001','PROD-004',10,5.25),('MOV-0001','PROD-005',5,3.50),('MOV-0002','PROD-007',2,3.00),('MOV-0002','PROD-008',9,3.00),('MOV-0004','PROD-006',5,2.50),('MOV-0005','PROD-008',1,3.50),('MOV-0006','PROD-005',4,3.00),('MOV-0006','PROD-007',2,3.00),('MOV-0007','PROD-005',10,1.50),('MOV-0007','PROD-007',5,3.00);
/*!40000 ALTER TABLE `Movimiento_Producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Movimientos_Inventario`
--

DROP TABLE IF EXISTS `Movimientos_Inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Movimientos_Inventario` (
  `mov_id` varchar(15) NOT NULL,
  `tipmov_id` varchar(10) NOT NULL,
  `mov_fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `mov_referencia` varchar(50) DEFAULT NULL,
  `mov_notas` text,
  `usr_id` varchar(12) NOT NULL,
  `prov_id` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`mov_id`),
  KEY `tipmov_id` (`tipmov_id`),
  KEY `usr_id` (`usr_id`),
  KEY `prov_id` (`prov_id`),
  CONSTRAINT `Movimientos_Inventario_ibfk_1` FOREIGN KEY (`tipmov_id`) REFERENCES `Tipos_Movimiento` (`tipmov_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `Movimientos_Inventario_ibfk_2` FOREIGN KEY (`usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Movimientos_Inventario_ibfk_3` FOREIGN KEY (`prov_id`) REFERENCES `Proveedores` (`prov_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Movimientos_Inventario`
--

LOCK TABLES `Movimientos_Inventario` WRITE;
/*!40000 ALTER TABLE `Movimientos_Inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `Movimientos_Inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Notificaciones_Alertas`
--

DROP TABLE IF EXISTS `Notificaciones_Alertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Notificaciones_Alertas` (
  `notificacion_id` int unsigned NOT NULL AUTO_INCREMENT,
  `alerta_stock_id` int unsigned NOT NULL,
  `usr_id_destinatario` varchar(12) NOT NULL,
  `canal_notificacion` enum('EMAIL','SMS','SISTEMA_INTERNO','PUSH') NOT NULL,
  `fecha_intento_envio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado_notificacion` enum('Pendiente','Enviada','Fallida','Leida') DEFAULT 'Pendiente',
  `fecha_actualizacion_estado` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `asunto_mensaje` varchar(255) DEFAULT NULL,
  `cuerpo_mensaje` text,
  `datos_respuesta_canal` text,
  PRIMARY KEY (`notificacion_id`),
  KEY `alerta_stock_id` (`alerta_stock_id`),
  KEY `usr_id_destinatario` (`usr_id_destinatario`),
  CONSTRAINT `Notificaciones_Alertas_ibfk_1` FOREIGN KEY (`alerta_stock_id`) REFERENCES `Alertas_Stock` (`alerta_stock_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Notificaciones_Alertas_ibfk_2` FOREIGN KEY (`usr_id_destinatario`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Notificaciones_Alertas`
--

LOCK TABLES `Notificaciones_Alertas` WRITE;
/*!40000 ALTER TABLE `Notificaciones_Alertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Notificaciones_Alertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pedidos`
--

DROP TABLE IF EXISTS `Pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pedidos` (
  `ped_id` varchar(15) NOT NULL,
  `ped_fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ped_total` decimal(10,2) NOT NULL,
  `ped_subtotal` decimal(10,2) NOT NULL,
  `ped_impuestos` decimal(10,2) DEFAULT '0.00',
  `ped_descuento` decimal(10,2) DEFAULT '0.00',
  `ped_estado` varchar(20) DEFAULT 'Pendiente',
  `ped_notas` text,
  `ped_tipo` varchar(20) NOT NULL DEFAULT 'Venta',
  `ped_forma_entrega` varchar(30) DEFAULT NULL,
  `cli_id` varchar(12) DEFAULT NULL,
  `usr_id` varchar(12) NOT NULL,
  PRIMARY KEY (`ped_id`),
  KEY `cli_id` (`cli_id`),
  KEY `usr_id` (`usr_id`),
  CONSTRAINT `Pedidos_ibfk_1` FOREIGN KEY (`cli_id`) REFERENCES `Clientes` (`cli_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Pedidos_ibfk_2` FOREIGN KEY (`usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pedidos`
--

LOCK TABLES `Pedidos` WRITE;
/*!40000 ALTER TABLE `Pedidos` DISABLE KEYS */;
INSERT INTO `Pedidos` VALUES ('PED-001','2025-06-12 21:10:42',11.80,10.00,1.80,0.00,'Completado','Entregar en 30min','Venta','Mostrador','CLI-002','72890842'),('PED-002','2025-06-13 01:25:43',16.52,14.00,2.52,0.00,'Completado',NULL,'Venta','Mostrador','CLI-001','72890842'),('PED-003','2025-06-15 16:32:18',3.54,3.00,0.54,0.00,'Completado',NULL,'Venta','Mostrador','CLI-001','72890842'),('PED-004','2025-06-16 02:13:37',7.08,6.00,1.08,0.00,'Completado',NULL,'Venta','Mostrador','CLI-003','72890845');
/*!40000 ALTER TABLE `Pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pedidos_Detalles`
--

DROP TABLE IF EXISTS `Pedidos_Detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pedidos_Detalles` (
  `det_id` varchar(18) NOT NULL,
  `det_cantidad` int NOT NULL,
  `det_precio_unitario` decimal(10,2) NOT NULL,
  `det_subtotal` decimal(10,2) NOT NULL,
  `det_impuesto` decimal(10,2) DEFAULT '0.00',
  `det_descuento` decimal(10,2) DEFAULT '0.00',
  `det_nota` text,
  `ped_id` varchar(15) NOT NULL,
  `prod_id` varchar(12) NOT NULL,
  PRIMARY KEY (`det_id`),
  KEY `ped_id` (`ped_id`),
  KEY `prod_id` (`prod_id`),
  CONSTRAINT `Pedidos_Detalles_ibfk_1` FOREIGN KEY (`ped_id`) REFERENCES `Pedidos` (`ped_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Pedidos_Detalles_ibfk_2` FOREIGN KEY (`prod_id`) REFERENCES `Productos` (`pro_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pedidos_Detalles`
--

LOCK TABLES `Pedidos_Detalles` WRITE;
/*!40000 ALTER TABLE `Pedidos_Detalles` DISABLE KEYS */;
INSERT INTO `Pedidos_Detalles` VALUES ('DET-0001',1,2.00,2.00,0.36,0.00,NULL,'PED-001','PROD-010'),('DET-0002',1,3.00,3.00,0.54,0.00,NULL,'PED-001','PROD-006'),('DET-0003',1,3.50,3.50,0.63,0.00,NULL,'PED-001','PROD-008'),('DET-0004',1,1.50,1.50,0.27,0.00,NULL,'PED-001','PROD-005'),('DET-0005',1,3.00,3.00,0.54,0.00,NULL,'PED-002','PROD-006'),('DET-0006',1,11.00,11.00,1.98,0.00,NULL,'PED-002','PROD-009'),('DET-0007',1,3.00,3.00,0.54,0.00,NULL,'PED-003','PROD-006'),('DET-0008',1,3.00,3.00,0.54,0.00,NULL,'PED-004','PROD-006'),('DET-0009',1,3.00,3.00,0.54,0.00,NULL,'PED-004','PROD-007');
/*!40000 ALTER TABLE `Pedidos_Detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pedidos_Proveedores`
--

DROP TABLE IF EXISTS `Pedidos_Proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pedidos_Proveedores` (
  `pedprov_id` varchar(15) NOT NULL,
  `pedprov_fecha` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `pedprov_total` decimal(10,2) NOT NULL,
  `pedprov_subtotal` decimal(10,2) NOT NULL,
  `pedprov_impuestos` decimal(10,2) DEFAULT '0.00',
  `pedprov_descuento` decimal(10,2) DEFAULT '0.00',
  `pedprov_estado` varchar(20) DEFAULT 'Pendiente',
  `pedprov_notas` text,
  `prov_id` varchar(12) NOT NULL,
  `usr_id` varchar(12) NOT NULL,
  PRIMARY KEY (`pedprov_id`),
  KEY `prov_id` (`prov_id`),
  KEY `usr_id` (`usr_id`),
  CONSTRAINT `Pedidos_Proveedores_ibfk_1` FOREIGN KEY (`prov_id`) REFERENCES `Proveedores` (`prov_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Pedidos_Proveedores_ibfk_2` FOREIGN KEY (`usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pedidos_Proveedores`
--

LOCK TABLES `Pedidos_Proveedores` WRITE;
/*!40000 ALTER TABLE `Pedidos_Proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pedidos_Proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Pedidos_Proveedores_Detalles`
--

DROP TABLE IF EXISTS `Pedidos_Proveedores_Detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Pedidos_Proveedores_Detalles` (
  `ppdet_id` varchar(15) NOT NULL,
  `pedprov_id` varchar(15) NOT NULL,
  `pro_id` varchar(12) NOT NULL,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(10,2) NOT NULL,
  `notas` text,
  PRIMARY KEY (`ppdet_id`),
  KEY `pedprov_id` (`pedprov_id`),
  KEY `pro_id` (`pro_id`),
  CONSTRAINT `Pedidos_Proveedores_Detalles_ibfk_1` FOREIGN KEY (`pedprov_id`) REFERENCES `Pedidos_Proveedores` (`pedprov_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Pedidos_Proveedores_Detalles_ibfk_2` FOREIGN KEY (`pro_id`) REFERENCES `Productos` (`pro_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Pedidos_Proveedores_Detalles`
--

LOCK TABLES `Pedidos_Proveedores_Detalles` WRITE;
/*!40000 ALTER TABLE `Pedidos_Proveedores_Detalles` DISABLE KEYS */;
/*!40000 ALTER TABLE `Pedidos_Proveedores_Detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Producto_Detalles`
--

DROP TABLE IF EXISTS `Producto_Detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Producto_Detalles` (
  `prod_id` varchar(12) NOT NULL,
  `prod_descripcion` text,
  `prod_precio_compra` decimal(10,2) DEFAULT NULL,
  `prod_stock_minimo` int DEFAULT '5',
  `prod_stock_maximo` int DEFAULT NULL,
  `prod_imagen` varchar(255) DEFAULT NULL,
  `prod_fecha_caducidad` date DEFAULT NULL,
  `prod_fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `prod_creado_por` varchar(12) DEFAULT NULL,
  `prod_actualizado_en` datetime DEFAULT NULL,
  `prod_actualizado_por` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`prod_id`),
  KEY `prod_creado_por` (`prod_creado_por`),
  KEY `prod_actualizado_por` (`prod_actualizado_por`),
  CONSTRAINT `Producto_Detalles_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `Productos` (`pro_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Producto_Detalles_ibfk_2` FOREIGN KEY (`prod_creado_por`) REFERENCES `Usuarios` (`usr_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Producto_Detalles_ibfk_3` FOREIGN KEY (`prod_actualizado_por`) REFERENCES `Usuarios` (`usr_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Producto_Detalles`
--

LOCK TABLES `Producto_Detalles` WRITE;
/*!40000 ALTER TABLE `Producto_Detalles` DISABLE KEYS */;
/*!40000 ALTER TABLE `Producto_Detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Producto_Proveedor`
--

DROP TABLE IF EXISTS `Producto_Proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Producto_Proveedor` (
  `prod_prov_id` varchar(15) NOT NULL,
  `prod_id` varchar(12) NOT NULL,
  `prov_id` varchar(12) NOT NULL,
  `precio_proveedor` decimal(10,2) DEFAULT NULL,
  `fecha_inicio_suministro` date DEFAULT NULL,
  `fecha_fin_suministro` date DEFAULT NULL,
  `notas` text,
  `estado` varchar(20) DEFAULT 'Activo',
  PRIMARY KEY (`prod_prov_id`),
  UNIQUE KEY `prod_id` (`prod_id`,`prov_id`),
  KEY `prov_id` (`prov_id`),
  CONSTRAINT `Producto_Proveedor_ibfk_1` FOREIGN KEY (`prod_id`) REFERENCES `Productos` (`pro_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Producto_Proveedor_ibfk_2` FOREIGN KEY (`prov_id`) REFERENCES `Proveedores` (`prov_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Producto_Proveedor`
--

LOCK TABLES `Producto_Proveedor` WRITE;
/*!40000 ALTER TABLE `Producto_Proveedor` DISABLE KEYS */;
INSERT INTO `Producto_Proveedor` VALUES ('PP-0005','PROD-008','PROV-001',NULL,NULL,NULL,NULL,'Activo'),('PP-0012','PROD-005','PROV-001',NULL,NULL,NULL,NULL,'Activo'),('PP-0019','PROD-007','PROV-001',NULL,NULL,NULL,NULL,'Activo'),('PP-0020','PROD-006','PROV-001',NULL,NULL,NULL,NULL,'Activo'),('PP-0021','PROD-009','PROV-006',NULL,NULL,NULL,NULL,'Activo'),('PP-0022','PROD-004','PROV-001',NULL,NULL,NULL,NULL,'Activo'),('PP-0023','PROD-010','PROV-002',NULL,NULL,NULL,NULL,'Activo');
/*!40000 ALTER TABLE `Producto_Proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Productos`
--

DROP TABLE IF EXISTS `Productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Productos` (
  `pro_id` varchar(12) NOT NULL,
  `pro_nombre` varchar(100) NOT NULL,
  `pro_precio_venta` decimal(10,2) NOT NULL,
  `pro_stock` int NOT NULL DEFAULT '0',
  `pro_estado` varchar(20) NOT NULL DEFAULT 'Activo',
  `cat_id` varchar(12) NOT NULL,
  PRIMARY KEY (`pro_id`),
  KEY `cat_id` (`cat_id`),
  CONSTRAINT `Productos_ibfk_1` FOREIGN KEY (`cat_id`) REFERENCES `Categorias` (`cat_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Productos`
--

LOCK TABLES `Productos` WRITE;
/*!40000 ALTER TABLE `Productos` DISABLE KEYS */;
INSERT INTO `Productos` VALUES ('PROD-004','Papaya',1.20,13,'Activo','CATP-004'),('PROD-005','Chocman',1.50,11,'Activo','CATP-002'),('PROD-006','Fanta',3.00,28,'Activo','CATP-001'),('PROD-007','Inca-Kola',3.00,10,'Activo','CATP-001'),('PROD-008','Coca-Cola',3.50,12,'Activo','CATP-001'),('PROD-009','Pollo',11.00,5,'Activo','CATP-009'),('PROD-010','Agua Mineral',2.00,10,'Activo','CATP-010');
/*!40000 ALTER TABLE `Productos` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_productos_after_update_resolver_alerta_stock` AFTER UPDATE ON `Productos` FOR EACH ROW BEGIN
    IF OLD.pro_stock != NEW.pro_stock AND NEW.pro_stock > OLD.pro_stock THEN
        UPDATE Alertas_Stock AS als
            LEFT JOIN Configuracion_Alertas AS ca ON als.config_alerta_id_origen = ca.config_alerta_id
        SET
            als.estado_alerta = 'Resuelta',
            als.fecha_resolucion = CURRENT_TIMESTAMP,
            als.comentario_resolucion = CONCAT(
                    'Resuelta autom├íticamente por aumento de stock. Umbral config. original (ID:',
                    IFNULL(ca.config_alerta_id, 'N/A'), '): ',
                    IFNULL(ca.config_umbral_valor, 'N/A'),
                    ', Tipo: ', IFNULL(ca.config_tipo, 'N/A'), '.'
                                        ),
            als.resuelta_por_usr_id = NULL
        WHERE
            als.prod_id = NEW.pro_id
          AND als.estado_alerta = 'Activa'
          AND ca.config_alerta_id IS NOT NULL
          AND (
            (ca.config_tipo = 'STOCK_LLEGA_A_VALOR' AND NEW.pro_stock > ca.config_umbral_valor) OR
            (ca.config_tipo = 'STOCK_DEBAJO_DE_UMBRAL' AND NEW.pro_stock >= ca.config_umbral_valor)
            );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`%`*/ /*!50003 TRIGGER `trg_productos_after_update_generar_alerta_stock_flexible` AFTER UPDATE ON `Productos` FOR EACH ROW BEGIN
    DECLARE v_config_id_aplicable INT UNSIGNED;
    DECLARE v_nivel_alerta_config ENUM('INFO', 'ADVERTENCIA', 'CRITICO');
    DECLARE v_umbral_config INT;
    DECLARE v_tipo_config VARCHAR(50);
    DECLARE v_nombre_producto VARCHAR(100);
    DECLARE v_mensaje_alerta TEXT;
    DECLARE v_alerta_activa_existente BOOLEAN DEFAULT FALSE;
    DECLARE v_alerta_tipo_generada_txt VARCHAR(100);
    DECLARE v_cat_id_producto VARCHAR(12); -- Para almacenar la categor├¡a del producto

    -- Solo actuar si el stock fue modificado.
    -- La l├│gica de si debe o no generar alerta se mueve al SELECT de configuraciones.
    IF OLD.pro_stock != NEW.pro_stock THEN

        -- Obtener la categor├¡a del producto actualizado
        SET v_cat_id_producto = NEW.cat_id;

        -- Buscar la configuraci├│n activa M├üS ESPEC├ìFICA que cumpla la condici├│n con el NUEVO stock
        SELECT
            ca.config_alerta_id,
            ca.config_nivel_alerta_default,
            ca.config_umbral_valor,
            ca.config_tipo
        INTO
            v_config_id_aplicable,
            v_nivel_alerta_config,
            v_umbral_config,
            v_tipo_config
        FROM Configuracion_Alertas ca
        WHERE
            ca.config_estado = 'Activa'
          -- Filtro de aplicabilidad (GENERAL, POR_PRODUCTO_ESPECIFICO, POR_CATEGORIA)
          AND (
            ca.config_aplicabilidad = 'GENERAL' OR
            (ca.config_aplicabilidad = 'POR_PRODUCTO_ESPECIFICO' AND ca.id_referencia_aplicabilidad = NEW.pro_id) OR
            (ca.config_aplicabilidad = 'POR_CATEGORIA' AND ca.id_referencia_aplicabilidad = v_cat_id_producto)
            )
          -- Condici├│n de la configuraci├│n basada en el tipo y el nuevo stock
          AND (
            (ca.config_tipo = 'STOCK_LLEGA_A_VALOR' AND NEW.pro_stock = ca.config_umbral_valor) OR
            (ca.config_tipo = 'STOCK_DEBAJO_DE_UMBRAL' AND NEW.pro_stock < ca.config_umbral_valor) -- Usamos < estricto
            )
        ORDER BY
            -- Prioridad: Espec├¡fico del producto > Por Categor├¡a > General
            CASE ca.config_aplicabilidad
                WHEN 'POR_PRODUCTO_ESPECIFICO' THEN 1
                WHEN 'POR_CATEGORIA' THEN 2
                WHEN 'GENERAL' THEN 3
                ELSE 4
                END ASC,
            -- Priorizar por criticidad del nivel de alerta configurado
            CASE ca.config_nivel_alerta_default
                WHEN 'CRITICO' THEN 1
                WHEN 'ADVERTENCIA' THEN 2
                WHEN 'INFO' THEN 3
                ELSE 4
                END ASC,
            -- Priorizar LLEGA_A_VALOR sobre DEBAJO_DE_UMBRAL si ambos umbrales y aplicabilidad coinciden
            CASE ca.config_tipo
                WHEN 'STOCK_LLEGA_A_VALOR' THEN 1
                WHEN 'STOCK_DEBAJO_DE_UMBRAL' THEN 2
                ELSE 3
                END ASC
        LIMIT 1; -- Tomar solo la configuraci├│n m├ís prioritaria que cumpla la condici├│n

        -- Si se encontr├│ una configuraci├│n aplicable cuyas condiciones se cumplen con el nuevo stock
        IF v_config_id_aplicable IS NOT NULL THEN
            -- Verificar si ya existe una alerta 'Activa' para este producto Y esta configuraci├│n espec├¡fica Y este umbral espec├¡fico
            SELECT EXISTS(
                SELECT 1 FROM Alertas_Stock asi
                WHERE asi.prod_id = NEW.pro_id
                  AND asi.config_alerta_id_origen = v_config_id_aplicable
                  AND asi.umbral_evaluado = v_umbral_config -- Usar el umbral de la configuraci├│n encontrada
                  AND asi.estado_alerta = 'Activa'
            ) INTO v_alerta_activa_existente;

            IF NOT v_alerta_activa_existente THEN
                SET v_nombre_producto = NEW.pro_nombre;

                IF v_tipo_config = 'STOCK_LLEGA_A_VALOR' THEN
                    SET v_alerta_tipo_generada_txt = CONCAT('Stock Cr├¡tico Alcanzado (', v_umbral_config, ' unidades)');
                    SET v_mensaje_alerta = CONCAT('Alerta de Stock: El producto "', v_nombre_producto, '" (ID: ', NEW.pro_id, ') ha alcanzado exactamente las ', v_umbral_config, ' unidades en stock.');
                ELSEIF v_tipo_config = 'STOCK_DEBAJO_DE_UMBRAL' THEN
                    SET v_alerta_tipo_generada_txt = CONCAT('Stock Bajo Umbral (Debajo de ', v_umbral_config, ' unidades)');
                    SET v_mensaje_alerta = CONCAT('Alerta de Stock: El producto "', v_nombre_producto, '" (ID: ', NEW.pro_id, ') tiene ', NEW.pro_stock, ' unidades, por debajo del umbral de ', v_umbral_config, '.');
                ELSE
                    SET v_alerta_tipo_generada_txt = 'Alerta de Stock Gen├®rica'; -- Fallback, no deber├¡a ocurrir si los tipos est├ín bien
                    SET v_mensaje_alerta = CONCAT('Alerta de Stock para el producto "', v_nombre_producto, '" (ID: ', NEW.pro_id, '). Stock actual: ', NEW.pro_stock, '.');
                END IF;

                INSERT INTO Alertas_Stock (
                    prod_id,
                    config_alerta_id_origen,
                    stock_capturado,
                    umbral_evaluado,
                    alerta_tipo_generada,
                    alerta_nivel_generado,
                    mensaje_automatico,
                    creada_por_proceso
                ) VALUES (
                             NEW.pro_id,
                             v_config_id_aplicable,
                             NEW.pro_stock,      -- El stock actual cuando se gener├│ la alerta
                             v_umbral_config,    -- El umbral de la configuraci├│n que se activ├│
                             v_alerta_tipo_generada_txt,
                             v_nivel_alerta_config,
                             v_mensaje_alerta,
                             'TRIGGER_STOCK_FLEXIBLE'
                         );

                -- Aqu├¡ podr├¡as a├▒adir la l├│gica para insertar en Notificaciones_Alertas si lo deseas,
                -- usando LAST_INSERT_ID() para obtener el alerta_stock_id reci├®n creado.
                -- SET @last_alerta_id = LAST_INSERT_ID();
                -- INSERT INTO Notificaciones_Alertas (...) VALUES (@last_alerta_id, ...);

            END IF;
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Proveedor_Categoria`
--

DROP TABLE IF EXISTS `Proveedor_Categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Proveedor_Categoria` (
  `prov_cat_map_id` varchar(15) NOT NULL,
  `prov_id` varchar(12) NOT NULL,
  `prov_cat_id` varchar(12) NOT NULL,
  `fecha_asociacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`prov_cat_map_id`),
  UNIQUE KEY `prov_id` (`prov_id`,`prov_cat_id`),
  KEY `prov_cat_id` (`prov_cat_id`),
  CONSTRAINT `Proveedor_Categoria_ibfk_1` FOREIGN KEY (`prov_id`) REFERENCES `Proveedores` (`prov_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Proveedor_Categoria_ibfk_2` FOREIGN KEY (`prov_cat_id`) REFERENCES `Categorias_Proveedores` (`prov_cat_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Proveedor_Categoria`
--

LOCK TABLES `Proveedor_Categoria` WRITE;
/*!40000 ALTER TABLE `Proveedor_Categoria` DISABLE KEYS */;
INSERT INTO `Proveedor_Categoria` VALUES ('PCAT-003','PROV-002','PROVCAT-001','2025-05-07 22:18:28'),('PCAT-006','PROV-006','PROVCAT-004','2025-05-07 22:30:57'),('PCAT-008','PROV-001','PROVCAT-001','2025-05-07 22:44:25'),('PCAT-009','PROV-007','PROVCAT-002','2025-05-29 06:04:24'),('PCAT-010','PROV-005','PROVCAT-002','2025-05-29 06:05:22');
/*!40000 ALTER TABLE `Proveedor_Categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Proveedores`
--

DROP TABLE IF EXISTS `Proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Proveedores` (
  `prov_id` varchar(12) NOT NULL,
  `prov_nombre` varchar(100) NOT NULL,
  `prov_contacto` varchar(100) DEFAULT NULL,
  `prov_telefono` varchar(20) DEFAULT NULL,
  `prov_email` varchar(100) DEFAULT NULL,
  `prov_direccion` text,
  `prov_rfc` varchar(20) DEFAULT NULL,
  `prov_notas` text,
  `prov_estado` varchar(20) DEFAULT 'Activo',
  `prov_fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `prov_sitio_web` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`prov_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Proveedores`
--

LOCK TABLES `Proveedores` WRITE;
/*!40000 ALTER TABLE `Proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `Proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Roles`
--

DROP TABLE IF EXISTS `Roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Roles` (
  `rol_id` varchar(10) NOT NULL,
  `rol_nombre` varchar(50) NOT NULL,
  `rol_descripcion` text,
  `rol_nivel` int DEFAULT '1',
  `rol_creado_en` datetime DEFAULT CURRENT_TIMESTAMP,
  `rol_actualizado_en` datetime DEFAULT NULL,
  PRIMARY KEY (`rol_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Roles`
--

LOCK TABLES `Roles` WRITE;
/*!40000 ALTER TABLE `Roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `Roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tipos_Movimiento`
--

DROP TABLE IF EXISTS `Tipos_Movimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tipos_Movimiento` (
  `tipmov_id` varchar(10) NOT NULL,
  `tipmov_nombre` varchar(50) NOT NULL,
  `tipmov_descripcion` text,
  `tipmov_estado` varchar(20) DEFAULT 'Activo',
  PRIMARY KEY (`tipmov_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tipos_Movimiento`
--

LOCK TABLES `Tipos_Movimiento` WRITE;
/*!40000 ALTER TABLE `Tipos_Movimiento` DISABLE KEYS */;
INSERT INTO `Tipos_Movimiento` VALUES ('TIP-001','Entrada','Entrada agregando productos','activo'),('TIP-002','Salida','Salida disminuyenndo productos','activo');
/*!40000 ALTER TABLE `Tipos_Movimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuario_Rol`
--

DROP TABLE IF EXISTS `Usuario_Rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuario_Rol` (
  `usr_rol_id` varchar(15) NOT NULL,
  `usr_id` varchar(12) NOT NULL,
  `rol_id` varchar(10) NOT NULL,
  `fecha_asignacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `asignado_por` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`usr_rol_id`),
  UNIQUE KEY `usr_id` (`usr_id`,`rol_id`),
  KEY `rol_id` (`rol_id`),
  CONSTRAINT `Usuario_Rol_ibfk_1` FOREIGN KEY (`usr_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Usuario_Rol_ibfk_2` FOREIGN KEY (`rol_id`) REFERENCES `Roles` (`rol_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuario_Rol`
--

LOCK TABLES `Usuario_Rol` WRITE;
/*!40000 ALTER TABLE `Usuario_Rol` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuario_Rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios`
--

DROP TABLE IF EXISTS `Usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios` (
  `usr_id` varchar(12) NOT NULL,
  `usr_email` varchar(100) NOT NULL,
  `usr_user` varchar(30) NOT NULL,
  `usr_password` varchar(255) NOT NULL,
  `usr_estado` varchar(20) DEFAULT 'Activo',
  `usr_fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `usr_ultimo_login` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`usr_id`),
  UNIQUE KEY `usr_email` (`usr_email`),
  UNIQUE KEY `usr_user` (`usr_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios`
--

LOCK TABLES `Usuarios` WRITE;
/*!40000 ALTER TABLE `Usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Usuarios_Perfil`
--

DROP TABLE IF EXISTS `Usuarios_Perfil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Usuarios_Perfil` (
  `usrp_id` varchar(12) NOT NULL,
  `usrp_nombre` varchar(50) NOT NULL,
  `usrp_apellido` varchar(50) NOT NULL,
  `usrp_telefono` varchar(20) DEFAULT NULL,
  `usrp_direccion` text,
  `usrp_genero` varchar(50) DEFAULT NULL,
  `usrp_fecha_nacimiento` date DEFAULT NULL,
  `usrp_imagen` mediumtext,
  PRIMARY KEY (`usrp_id`),
  CONSTRAINT `Usuarios_Perfil_ibfk_1` FOREIGN KEY (`usrp_id`) REFERENCES `Usuarios` (`usr_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Usuarios_Perfil`
--

LOCK TABLES `Usuarios_Perfil` WRITE;
/*!40000 ALTER TABLE `Usuarios_Perfil` DISABLE KEYS */;
/*!40000 ALTER TABLE `Usuarios_Perfil` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `access_requests`
--

DROP TABLE IF EXISTS `access_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `approved` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `access_requests_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `access_requests`
--

LOCK TABLES `access_requests` WRITE;
/*!40000 ALTER TABLE `access_requests` DISABLE KEYS */;
INSERT INTO `access_requests` VALUES (1,'edwintaqui20@gmail.com','edwintaqui20',NULL,1,'2025-06-22 00:59:59','2025-06-22 16:25:44'),(12,'edwinro1204@gmail.com','edwinro1204',NULL,1,'2025-06-22 17:27:19','2025-06-22 17:27:50');
/*!40000 ALTER TABLE `access_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB AUTO_INCREMENT=345 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_requests`
--

DROP TABLE IF EXISTS `registration_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registration_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `approved` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `registration_requests_email_unique` (`email`),
  UNIQUE KEY `registration_requests_username_unique` (`username`),
  KEY `registration_requests_approved_index` (`approved`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_requests`
--

LOCK TABLES `registration_requests` WRITE;
/*!40000 ALTER TABLE `registration_requests` DISABLE KEYS */;
INSERT INTO `registration_requests` VALUES (1,'prueba@gmail.com','julio12','Julio Hoyos','$2y$12$eMMweurDn/nlSnuUq3jl.uu0.600/DdsiroXEk35cXPEJOI9vueRK',1,'2025-06-22 17:53:29','2025-06-22 17:54:40'),(2,'tovarasfasfasfasfasf@gmail.com','tovar1','Diego Tovart','$2y$12$SijoXVmoDyrHG2q8NOc1h.xFqz2FfYefAhRYdOj63khQJWVTfw3QS',1,'2025-06-22 18:00:25','2025-06-22 18:00:54');
/*!40000 ALTER TABLE `registration_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-22 19:59:41
